footer {
    background-color: #e9505a;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    height: 142px;

    ul {
        margin: 0;
        padding-bottom: 20px;
    }
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    padding-top: 20px;

    p{
        color: white;
        font-weight: 100;
        font-size: 14px;
    }
}

.reseaux-sociaux {
    
    display: flex;
    justify-content: space-between;
    column-gap: 56px;
    flex-direction: row;

    p{
        color: white;
        font-weight: 400;
    }

}

.reseaux-sociaux-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    img {

    height: 100%;
    width: 46px;

    }

   
} 

@media (max-width: 720px) { 

}
