#form {
    background-image: url("/src/assets/block-contact.svg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 54px;
    background-repeat: no-repeat;
    
}

.form-contact {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 2%;
    width: 41%; 
    margin-left: 30%;
    row-gap: 5px;
    
    input, textarea {
        border-radius: 1.5em;
        padding: 4px 10px;
        border: none;
        width: 100%;
    }
}

textarea {
    height: 87px;
    padding: 4px 10px;
    resize: none;
    width: 100%;
}

.form-email input {
    width: 224px;
}


.form-email-name {
    display: flex;
    column-gap: 22px;    
}

.form-name input{
    width: 100%;
}

.form-email input{
    margin-left: 5px;
 }

 .input-submit {
    width: 124px;
    input{
    background-color: #3f62ab;
    border-radius: 1.5em;
    color: white;
    padding: 10px 30px;
    appearance: unset;
    border: none;
    text-transform: capitalize;
    }}

.other-way-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 41%;
    border-radius: 1.5em;
    background-color: white;
    padding: 10px;
    margin-left: 30%;
    margin-top: 16px;
    .sucess{
        font-weight: 500;
    }
}

    @media (min-width: 720px) and (max-width: 1280px) {
        .form-contact {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding-top: 2%;
            width: 64%;
            margin-left: 18%;
            row-gap: 5px;
        }

        .other-way-login {
            width: 66%;
            border-radius: 1.5em;
            background-color: white;
            padding: 10px;
            margin-left: 17%;
            margin-top: 22px;
        }
    }


    @media (max-width: 720px) {
  
        .form-email-name {
            display: flex;
            flex-direction: column;
            row-gap: 14px; 
             
        }
      
          .form-email input {
            width: 100%;
            margin-left: 0px;
          }

        .other-way-login{
            width: 83%;
            margin-left: 7%;
            margin-top: 0px;
        }

          #form {
            background-image: url("/src/assets/block-contact-mobile.svg");
            background-repeat: no-repeat;
            padding-bottom: 34px;
            background-repeat: no-repeat; 
        }

        .form-contact {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding-top: 2%;
            width: 84%;
            row-gap: 5px;
            margin-left: 1%;
            padding: 0px 0px 26px 20px;

        }
               
    }