@import "../utils/mixin";
@import "../utils/variables";

@font-face {
    font-family: "Poppins", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  }

@font-face {
    font-family: "Kanit", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
  }

  @font-face {
    font-family: "Kanit", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
  }

  

 

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/fond-bleu-plus-nav.png") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

p, li {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}



.titrePortfolio {
    width: 50%;
    height: 100%;
    margin-top: 200px;
    margin-bottom: 156px;
}


.arrow-down-home {
  padding: 18px 13px 11px;
  border: 1px solid $first-color;
  border-radius: 2.5em;
  background-color: $first-color;
.icon-arrow-down-home {
  color: white !important;
    font-size: 28px;
}
}

#experiences {
  margin: 170px 0px 10px 0px;
}

.block-formation {
  display: flex;

  .date {
    display: flex;
    .ligne {
      border-top: 1.5px solid black;
      padding: 0px 10px;
      margin-top: 8px;
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}

.aboutformation {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    ul {
      padding: 0;
      li {
      padding: 0;
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
  }
}

.title-formation {
  text-align: left;
}

.block-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-block-langue {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  column-gap: 20px;
  
}

.jauge-background {
  background-color: $third-color;
    width: 156px;
    border-radius: 1.5em;
}

.jaune-over {
  background-color: $second-color;
    height: 10px;
    width: 60%;
    border-radius: 1.5em;  
}

.jaune-full {
  background-color: $second-color;
    height: 10px;
    width: 100%;
    border-radius: 1.5em; 
}

.list-qualite {
  display: flex;
  text-align: left;
  column-gap: 20px;
}