@import "../utils/mixin";
@import "../utils/variables";

@font-face {
    font-family: "Poppins", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  }

@font-face {
    font-family: "Kanit", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
  }

  @font-face {
    font-family: "Kanit", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
  }

  

 

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/fond-background.png") ;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

p, li {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}



.titrePortfolio {
    width: 50%;
    height: 100%;
    margin-top: 200px;
    margin-bottom: 156px;
}


.arrow-down-home {
  padding: 17px 13px 6px;
  border: 1px solid $first-color;
  border-radius: 2.5em;
  background-color: $first-color;
.icon-arrow-down-home {
  color: white !important;
    font-size: 28px;
}
}

#experiences {
  margin: 170px 0px 100px 0px;
}

.title-experience-home {
  margin-bottom: 60px;
}

.first-color {
  color: $first-color;
}

.second-color {
  color: $second-color;
}

.resume {
  display: flex;
  justify-content: flex-end;
  margin-right: 140px;
}

.subtitle-resume, .title-job-formation {
  font-weight: 500;
}

.where-formation {
  font-weight: 400;
}

.resume-left {
    width: 36%;
    padding-right: 30px;
    margin-right: 20px;
    border-right: 1px solid $third-color;
}

.subtitle-resume {
  width: 120px;
}

.container-block-langue p {
  font-weight: 400;
 
}

.title-jauge p {
  font-weight: 300;
}

.block-formation {
  display: flex;
  margin-bottom: 14px;

  .date {
    display: flex;
    .ligne {
      border-top: 1.5px solid black;
      padding: 0px 10px;
      margin-top: 8px;
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}

.aboutformation {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    ul {
      padding: 0;
      margin: 0;
      text-align: left;
      li {
      padding: 0;
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
  }
}

.title-formation {
  margin-bottom: 10px;
}

.formation {
  margin-bottom: 20px;
}

.block-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  ul {
    margin: 0;
  }
}

.container-block-langue {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  column-gap: 20px;
  
}

.jauge-background {
  background-color: $third-color;
    width: 156px;
    border-radius: 1.5em;
}

.jaune-over {
  background-color: $second-color;
    height: 10px;
    width: 60%;
    border-radius: 1.5em;  
}

.jaune-full {
  background-color: $second-color;
    height: 10px;
    width: 100%;
    border-radius: 1.5em; 
}

.list-qualite {
  display: flex;
  text-align: left;
  column-gap: 20px;
}

.block-competence .list-competence {
  display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      column-gap: 10px;
      display: flex;
      margin: 6px;
        li{
          background-color: $second-color;
            border-radius: 1.5em;
            row-gap: 10px;
            padding: 4px 12px;
            font-weight: 400;
          } 
    }
}

.list-competence-plus {
  background-color: $third-color;
  border-radius: 1.5em;
  padding: 0px 16px 3px 16px;
  font-weight: 400;
  font-size: 28px;
}

.container-block-interet {
  display: flex;
  text-align: left;
  column-gap: 12px;
  padding: 0px 20px ;
  .subtitle-bold {
    font-size: 1em;
  }
}

.block-interet {
  border: 2px solid $third-color;
  border-radius: 1.5em;
  padding-bottom: 20px;
  .title-formation {
    color: $third-color;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.block-list-competence ul{
margin: 0px 0px 12px 0px;
}

.container-block-interet li, .container-block-interet p {
  font-size: 12px;
}


/*Project*/

.container-block-project { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1;
  row-gap: 20px;
    column-gap: 20px;
    margin: 100px;
   
  .element-container-block-projet {
    background-color: white;
    box-shadow: -9px 4px 16px #1111117d;
    padding: 30px;
    border-radius: 1.5em;
    text-align: left;

    img {
      width: auto;
    height: 113px;
    overflow: hidden;
    }
  }
}