@font-face {
    font-family: "Poppins", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  }


.header {
    padding: 25px 45px;
    p {
        color: black;
        font-size: 17px;
    }
}

.header-content {
   display: flex; 
   justify-content: space-between;
   .logo-navbar{
    margin-left: 3em;
   }

}
#navbar-container {
    display: flex;
    margin-right: 3em;
    column-gap: 6px;
    .navbar-element :hover{
        border: 1px solid;
        border-color: black;
        border-radius: 0.5em;
        padding: 2px 13px 5px 13px;
    }
   
    .linkName {
    padding: 3px 14px;
  
    }
}
.logo {
    width: 160px;
}

Menu {
  display: none;
}
.navbar-container {
  display: block;
}



@media (max-width: 720px) {
    .header {
        padding: 0px 9px;
        background-color: white;
    }

    .logo {
      width: 106px;
    }


    .header-content .logo-navbar {
      margin-left: 0em;
      padding-top: 6px;
    }
      
    Menu {
      display: block;
    }

    #navbar-container {
      display: none;
    }
        /* Position and sizing of burger button */
    .bm-burger-button {
      position: absolute;
      width: 27px;
      height: 23px;
      right: 24px;
      top: 7px;
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
      background: $first-color;
    }

    /* Color/shape of burger icon bars on hover*/
    .bm-burger-bars-hover {
      background: #a90000;
    }

    /* Position and sizing of clickable cross button */
    .bm-cross-button {
      height: 24px;
      width: 24px;
      right: 17px !important;
    }

    /* Color/shape of close button cross */
    .bm-cross {
      background: #bdc3c7;
    }

    /*
    Sidebar wrapper styles
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
    */
    .bm-menu-wrap {
      position: fixed;
      height: 100%;
      right: 162px;
    }

    /* General sidebar styles */
    .bm-menu {
      background: $first-color;
      padding: 2.5em 1.5em 0;
      font-size: 1.15em;
      width: 181px !important;
    }

    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
      fill: $first-color;
    }

    /* Wrapper for item list */
    .bm-item-list {
      color: #b8b7ad;
      padding: 0.8em;
      background-color: $first-color;
    }

    /* Individual item */
    .bm-item {
      display: inline-block;
    }

    /* Styling of overlay */
    .bm-overlay {
      background: rgba(0, 0, 0, 0.3);
      display: none !important;
    }

    /* Individual item */
    .bm-item {
      display: inline-block;
      color: #d1d1d1;
      margin-bottom: 10px;
      text-align: left;
      text-decoration: none;
      transition: color 0.2s;
    }

    .bm-item:hover {
      color: #ffffff;
    }
 
}

